[2018-07-13 06:31] johannbarbie opened #1 "Add Gas Metering"
Add a gasLimit parameter when a program is executed.
- The EVM should return an outOfGas response if the program consumed to much gas.
- On each step the remaining gas should be decreased by the cost of the specific OP-code.

Check https://github.com/ethereum/py-evm for reference.
Check the [Architecture docs](https://github.com/parsec-labs/solevm-truffle/blob/master/docs/Architecture.md) for more

[2018-07-13 06:33] johannbarbie opened #2 "Create Off-Chain Executor"
Modify SolEVM in the following way:
- Add **runAndStop()** method that allows to:
  - Receives a step on which it should stop.
  - Return state of the EVM at the desired step.
- Add **initAndRun()** method that allows to:
  - Load the state of the EVM at specific step.
  - Run the program till it ends.
- Create unit tests for different programs:
  - Stop programs at specific steps, re-initialize a

[2018-07-13 06:36] johannbarbie opened #3 "Create On-Chain Executor"
The on-chain executor calls the **initAndRun()** method as transaction (needs to fit into block gas limit), but executes only 1 step:

- Have the EVM load at a given step of some program, execute the current OP-code, and return the state of the EVM (at next step).
- Implement unit tests for each OP-code in the following way:
  1. Run off-chain EVM and export state at steps x and x+1.
  2. Load on-

[2018-07-13 06:38] johannbarbie opened #4 "Add State Hash Function"
Implement a state hash function that will allow to hash the context and state of the EVM at every step. If necessary, extend the signature of **executeAndStop()** to export all data that is needed for the hash. Replace the comparison of state in bounty III with the new hash function. All unit tests should continue to pass.

This issue depends on completion of #2 and #3. Check the [architecture doc

[2018-07-13 09:43] johannbarbie commented on #1
@davidbanu thanks for applying! want to jump on a quick call and discuss architecture?

[2018-07-18 17:04] johannbarbie commented on #2
@raininja would you also be interested to work on https://gitcoin.co/issue/parsec-labs/solevm-truffle/1/778 ? it looks like @davidbanu hasn't picked it up yet.

[2018-07-18 17:11] raininja commented on #2
Yeah, that would be fine, @johannbarbie

[2018-07-18 17:16] davidbanu commented on #2
@johannbarbie I'm working on it. I was looking through the repository trying to come up with a plan of action

[2018-07-18 17:17] davidbanu commented on #1
@johannbarbie, sorry for the silence...Had a hard weekend. I'm reading throughout the repository trying to come up with the best action plan...

[2018-07-20 06:45] vs77bb commented on #1
Thanks for the update @davidbanu, please let us know if you have any questions 👍

[2018-07-21 15:45] davidbanu commented on #1
I will submit a WIP PR soon for full transparency of the work I did until now. Any comments regarding my approach will be welcomed.

[2018-07-21 17:01] johannbarbie commented on #1
hi @davidbanu , thanks. excited to look at that.
do you also want to participate in our status call on Monday and say "hi"?

here are the details: https://hackmd.io/Kn0hwBA7Tvm6mfacCH1rIw

[2018-07-21 17:04] davidbanu commented on #1
@johannbarbie, wow, sure! It will be my pleasure...

[2018-07-21 17:12] davidbanu commented on #1
@johannbarbie, so I've added myself into the Topics of Interest. Can I talk a little bit about the gas metering job and my progress?

[2018-07-21 17:13] johannbarbie commented on #1
yes yes, that would be great 😃  you can also join the discord link mentioned in the doc, and ask questions any time.

[2018-07-21 17:15] davidbanu commented on #1
@johannbarbie, cool. Thanks a lot!

[2018-07-22 16:55] troggy commented on #2
Yes. Got to familiarize me with solEVM a bit.

[2018-07-23 09:09] davidbanu commented on #1
@johannbarbie, I need to solve an urgent matter and I will not be able to attend today discussion. I am deeply sorry. I will make the WIP PR, once I arrive at the office. Sorry for any inconvenience I've produced.

[2018-07-23 09:57] raininja commented on #2
Have I been removed from this task @johannbarbie?

On Sun, Jul 22, 2018, 12:55 PM Kosta Korenkov <notifications@github.com>
wrote:

[2018-07-23 10:15] johannbarbie commented on #2
I chose @troggy  for this specific issue on gitcoin. There are more issues/bounties in the pipeline thought. Do you want to join our call today? https://hackmd.io/s/BkAX4LlEm we could discuss which issue is best to pick next.

[2018-07-25 17:08] troggy opened #6 "fix linting errors and warning"

[2018-07-26 12:07] johannbarbie commented on #1
@davidbanu any updates on this? :)

[2018-07-27 08:56] davidbanu commented on #1
@johannbarbie sorry for not saying anything. I've broke my leg and this changed my schedule by a lot. But I'm on it right now. A little bit concerned about the codesize of this thing once the gas metering is fully implemented. I want to make that WIP PR soon to exemplify what I'm referring to. But until then, I want to try just one more idea that I had last night. It might work better.

[2018-07-28 11:49] #6 closed

[2018-07-30 17:38] vs77bb commented on #2
@troggy Thanks for dealing with Gitcoin Bot as we teach it 🙂 @johannbarbie let us know if you have any questions on the Gitcoin side!

[2018-08-01 03:05] raininja commented on #2
Yes I wasn't selected for this task anyway

[2018-08-01 21:49] pinkiebell commented on #1
@johannbarbie
Please review #10 and let me know if I am on the right track ;).

[2018-08-03 12:53] johannbarbie commented on #1
@pinkiebell on it, thx :)

[2018-08-03 18:32] troggy commented on #2
@vs77bb would be good if @gitcoinbot could detect activity in corresponding WIP PR

[2018-08-09 14:21] johannbarbie commented on #1
@pinkiebell great work. formally fulfilled. i'm just worried about covering more op-codes in unit tests. currently only one example.
@troggy is preparing some tests that he would share until tonight.
would be great if you could include them for gas-metering as well.

[2018-08-10 19:37] troggy commented on #1
sorry, it takes longer than I expected. @pinkiebell I've started wrting some tests here: https://github.com/parsec-labs/solevm-truffle/pull/5. I guess the idea is that we can use the same [fixtures](https://github.com/parsec-labs/solevm-truffle/pull/5/files#diff-020cb63d1a6c4bb7c2c5da851dd51bb9R15) and [same test](https://github.com/parsec-labs/solevm-truffle/pull/5/files#diff-3815f188b54ed2ff86b0

[2018-08-10 22:45] pinkiebell commented on #1
@troggy Looks good 👍 .

[2018-08-11 09:06] troggy commented on #2
@gitcoinbot 😏

[2018-08-21 19:52] troggy commented on #1
stuck with storage state import/export for a some time already :/

I noticed you merged some of my changes 👍Will check it out this week. Do you plan to add anything else? I noticed todos in CALL, DELEGATECALL, STATICCALL handlers. Is there any way we can create a test for these?

[2018-08-21 22:01] pinkiebell commented on #1
These TODO's can go and the check for enough gas should be moved after the stack operations and return early if we don't have enough gas. I will fix this later.

We can test these three handlers by calling them with- and without enough gas remaining.

[2018-08-22 04:01] pinkiebell commented on #1
@troggy
I resolved my TODOs and added a basic tests for CALL, DELEGATECALL and STATICCALL 👍 .
Can you give me some more input on the storage-state import/export?
Happy to help you with that, if I can 😄

[2018-08-23 11:13] troggy commented on #1
@pinkiebell PR looks solid 👍I think you can submit work as done on Gitcoin

[2018-08-24 11:53] troggy commented on #1
@pinkiebell I have a message from @johannbarbie. He is on vacation for one more week and unfortunately forgot the private key at home. I guess he will be able to release the payment once he got back on Sept 1st.

[2018-08-24 18:48] pinkiebell commented on #1
No problem 👍

[2018-08-29 12:48] jdkanani commented on #1
@pinkiebell Great work!

[2018-08-29 13:07] pinkiebell commented on #1
@johannbarbie @troggy @jdkanani
Thanks! Hope to see this going forward.
There is much potential for contract profiling & analysis here 👍

[2018-08-29 15:08] vs77bb commented on #2
Snoozing Gitcoin Bot again - please do keep us posted, @troggy. When do you expect this to be ready for review?

[2018-09-11 17:07] troggy commented on #2
@vs77bb this one is done and paid out, but still shown as "work submitted"

[2018-09-12 04:10] troggy commented on #2
@vs77bb yes, I received payment

[2018-09-14 11:54] #1 closed

[2018-09-14 20:14] vs77bb commented on #3
Hi @troggy you still working on this one? We know you, so snoozing Gitcoin Bot here for 5 days in good faith 🙌

[2018-09-17 09:45] troggy commented on #3
ah.. yeah. Got to create WIP PR. @vs77bb thanks for the poking :)

[2018-09-19 18:34] johannbarbie commented on #2
@ceresstation nope, i used the "payout bounty" button, if i remember correctly.

[2018-09-21 10:28] #2 closed

[2018-09-25 03:45] vs77bb commented on #4
@johannbarbie Mind providing an update here? Snoozing Gitcoin Bot for a bit on our side 👍

[2018-11-02 16:33] johannbarbie opened #15 "Enable compact stack proofs for solEVM"
before the enforcer can run an op-code on chain, every VM element needs to be initialized.
Currently the VM stack needs to be initialized as follows:

1. All stack elements are provided in initialization transaction.
2. Stack elements are hashed and combined with hashes of other VM elements.
3. If VM root hash matches with generated hash, VM has been set up correctly.

This is not efficient, as th

[2018-11-02 16:35] johannbarbie opened #16 "test"
test

[2018-11-02 16:42] johannbarbie opened #17 "Enable compact memory proofs for solEVM"
Before the enforcer can run an op-code on chain, every VM element needs to be initialized.
Currently the VM memory is initialized as follows:

- Full memory is provided in initialization transaction.
- Memory is hashed and combined with hashes of other VM elements.
- If VM root hash matches with generated hash, VM has been set up correctly.

This is not efficient for opcodes MLOAD, MSTORE, MSTORE8

[2018-11-02 16:42] #16 closed

[2018-11-02 16:49] johannbarbie opened #18 "Enable compact code proofs for SolEVM"
Before the enforcer can run an op-code on chain, every VM element needs to be initialized.
Currently the code array  is initialized as follows:

- Full code array is provided in initialization transaction.
- Code array is hashed and combined with hashes of other VM elements.
- If VM root hash matches with generated hash, VM has been set up correctly.

This is not efficient for opcodes CODELOAD, an

[2018-11-02 16:57] johannbarbie opened #19 "Enable compact LOG proof for solEVM"
Before the enforcer can run an op-code on chain, every VM element needs to be initialized.
Currently the LOG buffer is initialized as follows:

- Full LOG buffer is provided in initialization transaction.
- LOG buffer is hashed and combined with hashes of other VM elements.
- If the VM root hash matches with generated hash, VM has been set up correctly.

This is not efficient, as the LOG buffer is

[2018-11-02 17:13] johannbarbie opened #20 "Commit to the execution path to challenge manager"
The challenge manager allows to open a dispute about committed computation results. Currently the challenge manager saves the addresses of solver and challenger and allows only those parties to progress the interactive verification game.

Authentication by address makes the computation verification game not delegate-able, hence solver and challenger need to remain online during the duration of the

[2018-11-02 17:17] johannbarbie opened #21 "Create a stepper implementation in JS"
modify [ethereumjs-vm](https://github.com/ethereumjs/ethereumjs-vm) to:
- export proofs of VM elements at different states of execution.
- export proofs for computation path that can be used with https://github.com/parsec-labs/solEVM-enforcer/issues/20.

[2018-11-02 17:18] johannbarbie opened #22 "Verify that gas pricing is same in Solidity stepper and JS stepper"
compare gas metering in https://github.com/parsec-labs/solEVM-enforcer/issues/21 with solidity implementation.

[2018-11-02 18:16] johannbarbie opened #23 "Enable contract mocks for CALL OP-codes in solEVM"
When [Leap transaction](https://docs.google.com/document/d/1vStTjqvqZGyiI5AVtpwCIMlHFnzC_4bbixsCfs27-M8) run on Plasma, a virtual state environment is created from the inputs of the transaction:
- For each fungible input an ERC20 mock is created and a balance minted.
- For each non-fungible input an ERC721 mock is created and a token minted.
- A mock for the Plasma bridge is created and the last 1

[2018-11-15 14:36] troggy commented on #21
@johannbarbie

does this issue require #15 , #16, #17, #18 to be solved first?

what is this? Proof for code and input parameters?

[2018-11-19 15:10] pinkiebell commented on #19
HeyHo @johannbarbie ,

I'm interested in your issue(s) 😄 . Do I understand correctly that instead of appending the logs to an array - we instead hash new logs with the old hash and do **not** store the logData in an array ever?

[2018-11-20 19:51] johannbarbie commented on #19
great to hear from you back @pinkiebell
![image 13](https://user-images.githubusercontent.com/659301/48798734-92e68380-ed05-11e8-81ad-b1361c03c69b.png)

yes, exactly. we only care about the the hash of the different VM elements, to be able to compare the state of the whole VM at different points of execution :)
it is a simplified version of the unbalanced merkle tree that @jdkanani has proposed he

[2018-11-20 19:55] johannbarbie commented on #15
@peara there is related work for your reference here: https://github.com/leapdao/solEVM-enforcer/pull/9

[2018-11-21 14:10] pinkiebell commented on #20
@johannbarbie
Should this build upon the other; yet to be implemented compact proofs; or should it have its own implementation?

[2018-11-21 14:18] johannbarbie commented on #20
this one depends only on https://github.com/leapdao/solEVM-enforcer/issues/4.
I imagine the naive implementation of the VM state hash function like this:
`hash(hash(memory), hash(stack), hash(..))`
And an improved one would be:
`stateHash(merkleHash(memory), merkleHash(stack), merkleHash(..))`
Does this answer the question correctly?

[2018-11-21 15:35] nanspro commented on #4
@johannbarbie  if no one is working then i would love to take this one mostly because i have read about plasma on ethresearch and the idea of game for verification off chain looks interesting.
So i'll start by going through plasma for the first 3-4 days then i will setup this enforcer and write code.

[2018-11-21 15:38] johannbarbie commented on #4
hey @nanspro, thanks for checking this out 😃
this one is available, and you are very welcome to pick it up. Let me know if you have any questions.

[2018-11-21 15:39] nanspro commented on #4
I think the pricing needs to be updated!!!

[2018-11-21 15:41] johannbarbie commented on #4
@troggy we need 💸 🤣

[2018-11-21 17:00] peara commented on #15
@johannbarbie
Hi, since the code seems to be a bit different from explanation in README. I would like to confirm my understanding.
In the diagram, challenger and solver call _query_ and _respond_ in order to progress through each step in code.
Solver need to call _respond_ first to submit the VM hash. Then challenger also submit VM hash with _query_, but it can be different from the hash of solver

[2018-11-22 14:34] johannbarbie commented on #15
@peara
you first 2 paragraphs are correct. the solver and challenger do a binary search until they find two consecutive execution steps where they agree at on the first hash, but disagree on the second, this is the point of divergence of execution.
the solEVM is then set up with the sate of the VM at the first hash. At this point it might be that the stack is very deep, and we would need to send a

[2018-11-26 05:05] thomashin opened #27 "Impossible to track a state(stack, memory, accounts) when JUMP backward"
`JUMP` and `JUMPI` opcode work well but do not seem to work well under one exception. For example, if the current pc is 100(JUMP), JUMP works well with 150(JUMPDEST), but not with 50(JUMPDEST).

I'm testing here.
: https://github.com/Onther-Tech/solEVM/blob/run-erc20/test/ERC20.test.js

_e.g._

2047 has JUMP opcode so we expect to jump to 0x69c(1692).

_pcCount 2047:_
![image](https://user-images.

[2018-11-27 03:19] pinkiebell commented on #20
@gitcoinbot 👋

[2018-11-27 03:19] pinkiebell commented on #19
@gitcoinbot 👋

[2018-11-28 06:21] vyomshm commented on #17
Hi @johannbarbie , I noticed that there are reference implementations of `merklize` and `getRootHash` inside `EVMMemory` already.

Also, I tried running the tests and it seems that some `TestEVMMemory` tests are failing out of the box.

[2018-11-30 02:52] thomashin commented on #27
@peara oh I got it. thank you

This is related to this conditional statement(https://github.com/leapdao/solEVM-enforcer/blob/master/contracts/EthereumRuntime.sol#L397).

[2018-12-01 11:00] peara commented on #15
Ping @gitcoinbot
@johannbarbie Have you decided on the flow design?
My main concern is what to put on the `Verifier` and what to put on `EthereumRuntime`.
I want the `Verifier` to take care of all the hashes checking.
The `EthereumRuntime` just takes an `EVMState` or similar, run 1 steps then return result to `Verifier`.
Now the hash is here but there is no `Verifier`.
The `EthereumRuntime` lacks

[2018-12-01 11:12] peara commented on #15
If you create an issue for a prototype verifier, maybe I can do it.
After that we can return to this issue :thought_balloon:

[2018-12-01 11:15] johannbarbie commented on #15
@peara from the description above i have problems to understand how to separate it exactly. i'll try to get more details from you on slack.

[2018-12-02 15:11] #19 closed

[2018-12-02 15:13] troggy commented on #4
@nanspro good luck :)

Ping @johannbarbie or me in case your have question. Or better join [our slack](https://join.leapdao.org) — we have some good vibes in #research_n_dev channel.

[2018-12-03 14:22] troggy commented on #4
@ggs134 appreciate your contribution 🙇

[2018-12-03 14:47] peara opened #29 "SolEVM-Enforcer Verifier"
### Current description:
![](https://camo.githubusercontent.com/b6ff007723eef1757f8f7470c24c9c8c40b31813/68747470733a2f2f692e696d6775722e636f6d2f6f3146524d71702e706e67)

###  In detail:
[code]

- `public initGame(executionId, solverComputationPath, challengerComputationPath, solver, challenger)`: called by Enforcer, when a **challenger** calls dispute. The Verifier will emit an event `DisputeStart

[2018-12-03 15:38] peara commented on #29
@johannbarbie I see. I updated with `solverComputationHashRoot` and `challengerComputationHashRoot`

[2018-12-04 09:11] pinkiebell commented on #29
I came up with the following:

Let us assume we start from root:
[code]
struct ComputationPath {
  bytes32 left;
  bytes32 right;
}

Enforcer.register(code, data, solverComputationPath)
  ...

Enforcer.dispute(disputeId, challengerComputationPath)
  If the challengerComputationPath is not the same as solverComputationPath:
    Verifier.initGame(executionId, solverComputationPath, challengerComputa

[2018-12-04 13:15] peara commented on #29
@pinkiebell

I think they must agree on left :thinking:
Isn't `left` is the result of previous execution?
I don't think we can prove anyone is right or wrong if they don't agree on the initial state.

[2018-12-04 13:35] pinkiebell commented on #29
Yes, but not strictly in the beginning. I assume here that it might be possible that they agree on later execution stages but they have a difference at some earlier point of execution.
That means it might be possible that both agree on `right` but not on `left`.
This depends on how we 'hash' the state, of course 😉

Yes

Well, if they reach level 0 and they still don't agree on `left` then they can

[2018-12-05 08:54] pinkiebell commented on #29
I just revisited my algo here because I wanted to write a little js dummy.
@peara I was wrong with the `runStep` function; that should be:
[code]

And the leaves should also be
[state0, state0-1 || empty state, state1, state1-1, state2, state2-1...]

I will code up a PoC to proof or smash my logic 😉

[2018-12-05 15:22] peara commented on #29
@pinkiebell
I will try to push my PoC verifier today to see if our data structures matched :smile:

[2018-12-05 16:23] peara commented on #29
@pinkiebell @johannbarbie
My PR: https://github.com/leapdao/solEVM-enforcer/pull/32/files

[2018-12-05 23:54] troggy commented on #27
@thomashin which program is that? I'm looking at the flattened ERC20 in your repo and there is no opcode on 2047, only pushdata

[2018-12-06 00:15] troggy commented on #27
Anyway, looks like `pcEnd` is not working correct for any programs with JUMPs. Will work on this

[2018-12-06 02:44] troggy commented on #27
@thomashin check the fix from #33 please.

On a different note, I noticed that you are [always setting `pcEnd` parameter](https://github.com/Onther-Tech/solEVM/blob/run-erc20/test/ERC20.test.js#L20) which may be inconvenient. If you want to execute the program till the end, you can just set pcEnd/pcCount to 0 or use [`execute` helper](https://github.com/leapdao/solEVM-enforcer/blob/master/test/hel

[2018-12-06 06:35] thomashin commented on #27
I tested [this contract](https://gist.github.com/thomashin/1854445a786a07b93aa15ab610818907). and I deployed `SimpleToken` and called `transfer` function.

Anyway, I want to know VM state after executing JUMP opcode(backward). but I think it seems not working yet.

like the screenshot below, If JUMP opcode executed occupying item(0xe3d, 3645), It should jump to instruction number 3645.
![image](ht

[2018-12-06 08:15] johannbarbie commented on #29
🎉 will check today

[2018-12-06 15:49] peara commented on #29
![](https://docs.google.com/drawings/d/e/2PACX-1vSyEH-Bgpak_paRvgvTkDqyPJmiGJHO14qT2W16LrPpsWgbzur8OsINNICCDBr8lErPfffQJ0S-JN_Y/pub?w=993&h=523)

This is my expected flowchart of a game and corresponding actions. What do you guys think?
@johannbarbie @pinkiebell

[2018-12-06 17:41] troggy commented on #15
you can supply corresponding `pcStart` and `pcEnd` parameters to run just one step. The only tricky case, I guess, is if you want to execute `JUMP` or `JUMPI` — in this case `pcEnd ≠ pcStart + 1` and you have to take it from elsewhere (e.g. top item from the stack)

[2018-12-06 21:14] pinkiebell commented on #29
@peara
Makes sense. Depending on the implementation, the solver or challenger could start first.
And the `detailExecution` should also be callable from either solver or challenger @johannbarbie ?

[2018-12-07 08:56] peara commented on #29
@pinkiebell
I assume solver has to start first - call `solverProofs`. Then, solver `respond` with the proof of required step (`mid`, calculated from `left` and `right` just supplied).
Also, `detailExecution` is called by solver as if it's timeout, `solver` would be the one who slashed?
Do you agree? Or we need a different assumption here?

[2018-12-07 09:13] pinkiebell commented on #29
@peara
I think it is still a undecided thing.
As it stands currently In my PoC, challenger & solver can submit in any order but they both have to respond to go to the next 'round`. If they find the first disagreement of execution they both need to `submitProof`, after that a call to `decideOutcome` would decide the faith of both.
The logic isn't complete yet and differs from what is proposed here.

[2018-12-09 04:07] peara commented on #15
Ping @gitcoinbot
Will comeback to this after settling the format of hashing in verifier

[2018-12-10 01:58] ryan-shea commented on #4
Hey @nanspro, what's the latest on this one? Ryan from Gitcoin checking in 😄

[2018-12-10 17:15] troggy commented on #21
@pinkiebell apply to this one pls ☝️😄

[2018-12-11 17:01] peara commented on #29
@gitcoinbot ping

[2018-12-12 18:46] vyomshm commented on #17
@gitcoinbot still working on this!

[2018-12-15 16:13] peara commented on #15
@gitcoinbot

[2018-12-17 10:43] pinkiebell commented on #21
@gitcoinbot 👍

[2018-12-18 09:27] nanspro commented on #4
@ryan-shea @johannbarbie i have gone through docs and architecture and i'm starting work from today!!

[2018-12-18 17:07] peara commented on #29
@gitcoinbot ping

[2018-12-20 11:22] troggy commented on #21
added funding for #22 👍

[2018-12-24 04:40] thomashin opened #38 "Issue #27 not resolved"
#27 is not resolved.

I tested [this contract](https://gist.github.com/thomashin/1854445a786a07b93aa15ab610818907). and I deployed `SimpleToken` and called `transfer` function.

Anyway, I want to know VM state after executing JUMP opcode(backward). but I think it seems not working yet.

like the screenshot below, If JUMP opcode executed occupying item(0xe3d, 3645), It should jump to instruction nu

[2018-12-24 05:11] thomashin commented on #38
test code should be like this: https://github.com/Onther-Tech/solEVM/commit/5c7605f789534c6482f89dbd91626d524e0a18b1

[2018-12-24 08:38] troggy commented on #4
@nanspro please open WIP pull request with your progress so far. Otherwise, unfortunately, we might have to withdraw this bounty

[2018-12-24 08:46] johannbarbie commented on #38
i see, any idea where the error could be?

[2018-12-27 07:33] vyomshm commented on #17
@johannbarbie @pinkiebell

please review my PR #36

[2018-12-28 17:04] johannbarbie commented on #17
@vyomshm thanks for the submission! 😃
my 👀 on it.

[2018-12-31 16:17] vyomshm commented on #17
@gitcoinbot  ....

[2019-01-01 09:37] peara commented on #15
@gitcoinbot

[2019-01-03 08:33] johannbarbie opened #39 ""ln: illegal option -- -" on "npm install""
running a fresh `npm install` i get:
[code]

[2019-01-03 08:33] johannbarbie commented on #39
`npm install openzeppelin-solidity@next` helps 🤷‍♂️

[2019-01-03 10:10] johannbarbie opened #40 "how to proof valid or invalid if solver misses first step?"
emerged in this pr: https://github.com/leapdao/solEVM-enforcer/pull/28

[2019-01-03 10:10] johannbarbie commented on #40
<img width="662" alt="screen shot 2019-01-03 at 11 09 47 am" src="https://user-images.githubusercontent.com/659301/50632452-32737480-0f48-11e9-8283-71fe2398ca1f.png">

[2019-01-03 15:23] troggy commented on #29
wtf @gitcoinbot ? I exercised an advanced payout, not cancellation o_O

[2019-01-03 20:55] #40 closed

[2019-01-04 07:16] johannbarbie commented on #39
macOS 10.14.2
`npm --version` 6.4.1

[2019-01-04 11:44] pinkiebell commented on #21
🎉 @troggy Thanks!

[2019-01-04 11:49] pinkiebell commented on #39
Odd, I don't even see usage of `ln` in the build script. Maybe that's deeper nested?

However, I change that back to the npm source once they release 2.1 👍

[2019-01-04 12:30] #29 closed

[2019-01-04 19:43] mihairaulea commented on #4
Very interesting task. Still available?

[2019-01-07 01:07] peara commented on #27
@troggy
This can be solve with #34
Instead of `pcEnd`, you will use `pcStepCount` and set it to 1.
Should I update that?

[2019-01-07 18:19] ceresstation commented on #4
Hey @mihairaulea yes I think so @nanspro did you already have a WIP PR, it's been about a week. If we don't hear back in the next day or so we'll have to pass the issue off.

[2019-01-07 22:05] nanspro commented on #4
@ceresstation i have created a PR and i am working on improving it for the completion of this.

[2019-01-08 11:12] johannbarbie commented on #39
fixed by https://github.com/leapdao/solEVM-enforcer/pull/43

[2019-01-08 11:12] #39 closed

[2019-01-08 11:50] johannbarbie commented on #38
@thomashin can you test again with https://github.com/leapdao/solEVM-enforcer/pull/34 included in master?

[2019-01-10 07:09] thomashin commented on #38
@johannbarbie sorry, I'm late.

I tested the code [here](https://github.com/Onther-Tech/solEVM/tree/test-erc20-token). it works well. 👍

![image](https://user-images.githubusercontent.com/20399507/50951643-46dbe200-14f1-11e9-8b84-e9322920d947.png)
![image](https://user-images.githubusercontent.com/20399507/50951690-74c12680-14f1-11e9-9b00-500a70f97aa1.png)

![image](https://user-images.githubuserc

[2019-01-10 07:09] #38 closed

[2019-01-10 08:20] johannbarbie commented on #27
resolved by https://github.com/leapdao/solEVM-enforcer/pull/34

[2019-01-10 08:20] #27 closed

[2019-01-10 16:11] johannbarbie commented on #17
@vyomshm any progress on this question: https://github.com/leapdao/solEVM-enforcer/pull/36#discussion_r245061881 ?

[2019-01-10 16:41] johannbarbie commented on #4
@mihairaulea this one seems to be inactive, and very similar: https://github.com/leapdao/solEVM-enforcer/issues/17

[2019-01-11 15:17] pinkiebell opened #47 "EVM - drastically reduce gas consumption"
Title says it all.

Ways to do it:
- Code up tooling to assist with optimised assembly (tight jumps?) for branch'ing the opcode handlers
- If that doesn't plays out, maybe we should split each opcode to a sub-contract ?
   In combination with a glue contract...

Thoughts?

[2019-01-11 15:40] troggy commented on #47
we can also save some gas by passing structs in public interfaces — we can then throw away a lot of "init" code (if it is still there, haven't looked for a while 😅)

[2019-01-11 15:41] pinkiebell commented on #47
I actually made my PR work by using structs.. Seems more like a step & code-size limitation 🤔

[2019-01-12 07:08] vyomshm commented on #17
@johannbarbie Sorry,  i got sidetracked with another project. Be back working on this from Monday itself.

[2019-01-13 10:42] pinkiebell commented on #47
For reference
#48 #49 #50

[2019-01-14 13:05] #20 closed

[2019-01-16 16:32] pinkiebell commented on #23
Does these mocks going to exist as separate contracts or builtins of the EthereumRuntime?

[2019-01-17 10:50] nanspro commented on #4
@johannbarbie  please approve so that i can submit it on gitcoin.

[2019-01-17 10:59] johannbarbie commented on #4
done

[2019-01-17 11:11] nanspro commented on #4
I have to submit on gitcoin right?

[2019-01-18 19:34] johannbarbie commented on #15
solved by https://github.com/leapdao/solEVM-enforcer/pull/30

[2019-01-18 19:34] #15 closed

[2019-01-19 15:53] nanspro commented on #4
@johannbarbie  if #17 is still available, i'd like to do it.

[2019-01-22 10:49] #4 closed

[2019-01-22 16:22] johannbarbie commented on #18
fixed by https://github.com/leapdao/solEVM-enforcer/pull/51

[2019-01-22 16:22] #18 closed

[2019-01-29 09:23] pinkiebell opened #59 "Introduce the HydratedRuntime"
# Bounty

Implement the first revision of the extensible HydratedRuntime which computes compact proofs.
This is basically a refactor but also introduces new elements like a linked-list memory slot model for `EVMMemory` to proper support compact memory.

WIP PR #58

## Gain for the project
- Extensible contract for computing proofs.
- Refactor -/ DRY'ing of code
- Proper support for compact memory

[2019-02-09 13:58] pinkiebell commented on #59
closed via #58

[2019-02-09 13:58] #59 closed

[2019-02-12 13:54] pinkiebell opened #68 "Refactor the fixtures"
# Bounty
Refactor the fixtures.

Every value should be in a hexadecimal representation where appropriate and fixed size-types should always be padded to full representation (like memory, each slot 32 bytes, stack: uint256).

Example:
[code]

## Deliverables
Makes it easier to reason about the fixtures.

## Gain for the project
🍌 🍌 ⌛️

## Roles
bounty gardener: name / share
bounty worker: name / sh

[2019-02-12 14:04] pinkiebell opened #69 "cli tool to play with Enforcer/Verifier - ExecutionPoker"
# Bounty

## Deliverables
Introduce a command-line tool which interacts with Enforcer & Verifier,
as defined for Milestone `Song of Dawn`

## Gain for the project
Climbing up the roadmap 🗻

## Roles
bounty size: 750 DAI
bounty gardener: @pinkiebell / 10%
bounty worker: @pinkiebell  / 70%
bounty reviewer: @johannbarbie  / 20%

[2019-02-12 15:01] pinkiebell commented on #69
PR #66
Bounty share is 750 DAI

[2019-02-12 15:14] pinkiebell commented on #47
Closing this one, as I don't want to update this everytime 😎

[2019-02-12 15:14] #47 closed

[2019-02-12 15:17] pinkiebell opened #70 "Formalize Computation Verification Game using SecureETH SDD"
# Bounty

Formalize Verifier & Enforcer and HydratedRuntime (depends on EVMRuntime)
*FIXME* also depends on Interceptor #54

https://guidelines.secureth.org/project-planning/system-description
## Scope
- Documentation
- Brainstorming open details

## Gain for the project
Sanity 🙏

## Roles
bounty gardener: @pinkiebell  / 5%
bounty worker: @pinkiebell  / 75%
bounty reviewer: @peara / 20%

[2019-02-20 11:13] #17 closed

[2019-02-20 11:59] pinkiebell opened #77 "compact memory proofs with support for ranges | compact calldata proofs"
# Bounty

## Scope
- Continue compact mem-proofs with unaligned access support.
- Implement compact calldata proofs
- Both on the JS and SOL side

## Deliverables
👶
## Gain for the project
⛽️
## Roles
bounty gardener: name / share
bounty worker: @pinkiebell / share
bounty reviewer: name / share

[2019-02-20 15:53] johannbarbie opened #78 "create contract registry"
to avoid fat blocks we want to have on on-chain registry of spending conditions. The registry should have two functions:
- `register(bytes contractTemplate, uint16[] offset, uint8[] length) returns (uint16)`
  - registers a contract template
  - splits contract into slices at offsets
  - saves slices, offsets and length in storage
  - returns templateId
- `get(bytes patter) returns (bytes)`
  - ge

[2019-02-20 16:08] pinkiebell commented on #78
I'm a bit confused about `get(bytes patter)`, can you explain it a bit more? 😄

[2019-02-20 16:17] johannbarbie commented on #78
example:
- contract:`{1: 0x11223344}`, pattern `0xf30001`, returns `0x11223344`
- contract:`{2: 0x11223344}`, pattern `0xf3000201bb`, returns `0x112233bb44`

[2019-02-20 16:29] pinkiebell commented on #78
returns `0x556677{bb88}` < still confused about that {} part ` 😆

[2019-02-20 16:44] johannbarbie commented on #78
let's say you have a spending condition like [this](https://github.com/leapdao/leap-node/blob/feature/SpendingConditions/src/tx/applyTx/checkSpendCond.test.js#L35-L53).

you want to be able to template it, to be usable with any `tokenAddr` and `spenderAddr`, without needing to register each different contract instance.

[2019-02-20 16:53] pinkiebell commented on #78
@johannbarbie Makes sense. I thought of adding a `bytes: initCode`, but the templating part is nice too 😃

[2019-02-21 19:39] eezcjkr commented on #78
I want to take this one if that is OK

[2019-02-22 08:57] johannbarbie opened #80 "increase code coverage"
## Scope
- increase coverage by x%

## Deliverables
- unit tests that increase coverage

## Gain for the project

## Roles
bounty gardener: name / share
bounty worker: name / share
bounty reviewer: name / share

[2019-02-23 05:45] peara commented on #80
@johannbarbie
Can I take this issue?

[2019-02-23 09:33] johannbarbie commented on #80
yes, but we need to specify the x.
@pinkiebell @peara what is the coverage now, and what could be realistic to achieve?

[2019-02-23 17:30] peara commented on #80
This is the result in my local:
[code]

Honestly, it looks pretty good. I guess the rest are not easy to test.
@pinkiebell What do you think?

[2019-02-25 16:25] peara commented on #80
I found that many mock contracts have been removed.
While that's cool because the whole system is now functional, I was really like those mock contracts because they help us write unit tests for other contracts.
What do you guys think about reintroduce some of them?
@johannbarbie @pinkiebell
In particular, I want the `VerifierMock` contract. It is helpful to test the `Enforcer` contract separately

[2019-02-25 17:36] johannbarbie commented on #80
let's keep them in a separate folder (`tests`, or `contracts/mocks`) and exclude them from coverage , then i don't see a problem.

[2019-02-25 17:37] johannbarbie commented on #80
regarding the coverage above, i see value in increasing the coverage in these contracts:
- EVMRuntime.sol
- Enforcer.sol

to > 97%.

[2019-02-26 17:22] pinkiebell commented on #80
👍 Yes, we can leverage the #66, to test the enforcer contract further in the future

[2019-02-27 13:31] johannbarbie opened #81 "precompile support for solEVM"

[2019-03-01 09:28] pinkiebell opened #82 "Upgrade to Petersburg"
# Bounty

## Scope
- upgrade ganache and tooling to use ethereumjs-vm with petersburg hardfork
- fix tests, if anything needs to be done
- upgrade coverage tools

## Deliverables
Chicken wings

## Gain for the project
Inline with milestone

## Roles
bounty gardener: @pinkiebell  / 10%
bounty worker: @pinkiebell / 70%
bounty reviewer: name / 20%

[2019-03-01 12:30] pinkiebell commented on #82
Most of the work is inside:
https://github.com/leapdao/testrpc-sc
https://github.com/leapdao/solidity-coverage
https://github.com/leapdao/ethereumjs-vm-sc
https://github.com/leapdao/ganache-core-sc

[2019-03-07 16:37] pinkiebell commented on #81
Picking this up. Already worked partly on that ;)

[2019-03-16 16:53] #69 closed

[2019-03-16 19:20] #82 closed

[2019-03-26 14:41] pinkiebell opened #90 "Keep track of the round updates in the Verifier contract"
# Bounty

Modify the Verifier contract to keep track of the merkle tree depth (solverExecutionLength).
It should not be possible to submit a proof before the path walking process reached the leaves.

Maybe change solverExecutionLength to solverExecutionDepth or something like that,
so that we don't calculate the tree depth on-chain (gas cost).

Update tools/tests as necessary

## Deliverables
Secu

[2019-03-26 14:45] johannbarbie commented on #90
thinks about `alignment with purpose`, if not aligned with purpose, not a valid bounty.

[2019-03-26 14:50] pinkiebell commented on #90
Better? 😎

[2019-03-28 08:19] #80 closed

[2019-03-29 01:18] peara commented on #90
Currentl, `solverExecutionLength` is not yet used in the verification process yet. So as I understand, the problem is with case like this:
[code]
So they can immediately use `submitProof` though we don't know if `x` is leaf or not.

For this case to work, we need to modify `submitProof` to be aware of tree depth and possibly add another function such as `negateDepthDif` which would required **solv

[2019-03-30 10:23] pinkiebell commented on #90
Yes. Basically rename & assume `solverExecutionLength` is `solverExecutionDepth` and decrement in every `updateRound`. `SubmitProof` should only work if they reached the leaves :)

[2019-04-14 18:07] pinkiebell opened #92 "Dispute round update logic"
@peara @johannbarbie

Let's discuss the round logic here 😉

### Context:
---

-OR-
Better: Force submission to respond to happen in a specific time frame, so that the solver or challenger automatically get slashed if they did not respond in time.

---

maxExecutionDepth = 2**12 = a max. of 16.777.216 execution steps

[2019-04-16 04:45] peara commented on #92
I agree with using both cap of execution depth and forced timeout of submission of `respond`.
Let's say the `timeout` for `respond` is 30 minutes and `maxExecutionDepth = 12`.
All disputes will be resolved at most after 6 hours. Which would give us a nice estimation for UX.

[2019-04-18 05:33] #90 closed

[2019-04-29 16:19] peara commented on #92
@pinkiebell
How's thing going?
Should we process this issue :smile:

[2019-04-30 12:09] pinkiebell commented on #92
Let's discuss what is a reasonable response time for each round given a high-loaded ethereum network.

I think using 100 blocks is reasonable.
If we decide on that, we can implements checks for new dispute  > meaning that the contract has to check that the global `timeout` with the given `executionDepth` could even be settled in a reasonable timeframe

[2019-04-30 14:12] pinkiebell opened #93 "Use LLL assembly to further decrease code-size / contract execution costs"
# Bounty

## Scope
-
-
-

## Deliverables

## Gain for the project

## Roles
bounty gardener: name / share
bounty worker: name / share
bounty reviewer: name / share

[2019-04-30 14:13] pinkiebell opened #94 "Try to get rid of EVMAccounts code as we don't going to use it"
Changed to billable.

Remove obsolete EVMAccounts code while we are not going to support any stateful things

[2019-04-30 14:13] pinkiebell opened #95 "Pull in ethereumjs-testing and test against it"
# Bounty

## Scope
-
-
-

## Deliverables

## Gain for the project

## Roles
bounty gardener: name / share
bounty worker: name / share
bounty reviewer: name / share

[2019-04-30 14:15] pinkiebell opened #96 "Record gas costs for EVMRuntime and compare it against the last known one"
# Bounty
Record gas costs for EVMRuntime and compare it against the last known one
so that we have a way to verify runtime gas-cost optimisations.

## Scope
- unit tests

## Roles
bounty gardener: @johannbarbie / 15%
bounty worker: name / share
bounty reviewer: name / share

[2019-04-30 14:33] #70 closed

[2019-04-30 17:15] peara commented on #92
In a dispute, both parties can process without waiting for confirmations.
So let's assume that one will process as soon as they saw the other responds.
As a result, we can safely assume that each round of response will only be at most `respondTimeout`, 100 blocks as you suggested, which would be around 25 minutes.
In short, I agree with 100 blocks.

[2019-04-30 17:57] #94 closed

[2019-04-30 18:39] pinkiebell commented on #92
@peara
Ok, do you want to setup an issue a just for the round update logic and start working on that?
We can setup the remaining in another one later on ;)

[2019-05-02 03:43] peara commented on #92
@pinkiebell
I'd like to discuss more about related things.
Like what you have said about checking timeout when starting a new dispute.
Enforce should check `timeout < block.number + executionDepth*respondTimeout` before accepting new dispute. Maybe we could make the calculation of `timeout` to be depend on `executionDepth` and just check `timeout < block.number` for simplicity.

Also, we was consi

[2019-05-02 13:31] pinkiebell commented on #92
The enforcer itself could have a challengePeriod of 7 days (ignoring the technical aspect of it).
So, it makes sense that at dispute creation, we check if there is enough time left  to play this dispute or not and set the timeout of the dispute to the worst-case scenario. (A dynamic dispute timeout)

And the timeout of the `Verifier`  contract is now round-based and needs to be refreshed. (respons

[2019-05-02 15:05] pinkiebell opened #99 "Record a video on how to setup local development environment for enforcer"
# Bounty

this video extends on the prime casino and shows developers how to run their own computation tasks on the solEVM.

## Scope
1. start the solver, and register it with the enforcer contract.
2. start the challenger, and register it with the enforcer contract.
3. write a program to solve your computation task in solidity. then deploy it as a contract.
	- you don't need to mind the block gas

[2019-05-02 16:11] peara commented on #92
I was referring to this case:
[code]
Solver submits R instead of H1 as the hash root.
In this case, at first, challenger will thought that solver has submitted an incorrect execution.
But when they fill the tree will zero hashes,  they will recognize the resulted hash is the same.
So if they check it before initialize a dispute, it would be nothing more than annoyance.

On a side note, I guess it'

[2019-05-02 17:10] pinkiebell commented on #92
If a solver does that, it's good  for challengers, as they can slash the solver now for doing stupid things :)

Let's leave it this war for testing purposes. If a tool wants to challenge the same hash so be it 😏

[2019-05-03 09:52] peara commented on #92
Technically, it is not incorrect hash and solver won't gain anything from it. Unless challenger still open a disputes even with the same hash root. In this case, `updateRound` will keep following left node until it reaches the first step which is correct. As a result, solver may gain some bond as challenger will be slashed.

We will also need to change `claimTimeout` to check `SOLVER_RESPONDED` an

[2019-05-03 12:29] pinkiebell commented on #92
Why would it go to the first step? If they agree on left, they go right 🤔
And if they disagree on the first step, someone with the wrong result will loose.

👍

[2019-05-03 15:32] peara commented on #92
You are right. Just reread that part. They will go to the right, not left. So we won't need to worry about that case.
So, in this issue:
- Rename Verifier's timeout -> `respondTimeout`
- Rename Enforce's timeout -> `disputeTimeout = baseTimeout + executionDepth * respondTimeout`.
- Check timeout when open dispute: `disputeTimeout < block.number + executionDepth * respondTimeout`
- change `claimTim

[2019-05-04 12:31] pinkiebell commented on #92
You don't have to change enforcers `challengePeriod` as that may still be 7 days.
You only have to make sure that in `Enforcer.{register,dispute}` the challengePeriod is larger than the worst-case dispute duration.

👍 Create a bounty issue and go go ahead 😉

[2019-05-04 13:49] johannbarbie commented on #92
you guys are rocking it 💚

[2019-05-05 07:11] peara opened #100 "Update dispute respond and timeout logic"
# Bounty
Discussed in https://github.com/leapdao/solEVM-enforcer/issues/92

## Scope
To prevent a party from sniping a dispute by respond to it at last minute, we will:
- Limit the depth of an execution to be considered valid (no impossibly long execution)
- Check whether a dispute can be completed before the challenge period is over
- Limit time of response for each round of a dispute
- Update lo

[2019-05-07 11:20] pinkiebell commented on #81
Resuming...

[2019-05-10 16:49] pinkiebell commented on #81
Resolved 🎉

[2019-05-10 16:49] #81 closed

[2019-05-19 12:10] #100 closed

[2019-05-21 15:07] peara opened #107 "Verification game logic discussion"
I found some cases which do not work under current implementation.
The pieces of code in question is:
https://github.com/leapdao/solEVM-enforcer/blob/master/contracts/Verifier.sol#L146:L154
[code]
and
https://github.com/leapdao/solEVM-enforcer/blob/master/contracts/Verifier.sol#L333:L343
[code]

### Issues
1. The first piece doesn't take in to account the case such as when `h == dispute.solver.lef

[2019-05-22 08:12] pinkiebell commented on #107
@peara The current logic looks correct to me. Do I oversee something? 🤔

[2019-05-22 09:06] peara commented on #107
@pinkiebell
I think the first case is wrong
The second case is depend on how we handle the case when challenger has a smaller
The third case is depend on https://github.com/leapdao/solEVM-enforcer/blob/master/contracts/Verifier.sol#L189:L191
Nobody can `submitProof` and dispute will be timed out.

[2019-05-22 14:20] pinkiebell commented on #107
What do you mean with ` it will make solver go left and challenger go right.`. The contract only supports going left or right. And if `right` is `zero` for either solver or challenger, contract will go left

[2019-05-22 14:56] peara commented on #107
Ah, I was not clear.
After updateRound run, new solverPath and challengerPath is updated. But the previous values of left and right are not reset.
Since function respond does not separate solver and challenger, there exists a case when the submitted hash eq solver left and challenger right. And that's wrong.
It can be solved by set the value of the unnecessary branch (left in case of following rig

[2019-05-22 15:33] pinkiebell commented on #107
Now it makes sense 😄 .
Indeed a thing that could happen, what do you say to https://github.com/leapdao/solEVM-enforcer/pull/109 ?

I also added the requirement that `compuationPath.left` can never be `zero`.

[2019-05-23 13:31] peara commented on #107
I think #109 is OK.
Although I'm still thinking about the way `zero` is handled. I'm trying to drawing some cases now.

[2019-05-29 06:22] pinkiebell commented on #68
Fixed by #114

[2019-05-29 06:22] #68 closed

[2019-05-29 09:52] johannbarbie opened #116 "create a solver/challenger service based on off-chain interpreter"
## Bounty description

have npm package that can be installed globally. it should allow to be started as follows:

- **run as solver:** `solEVM --enforcerADdr="0x1234" --walletPriv="0x3456" --ethProvider`

## Scope
- this will start the process and start listening for new `Request()` and `Register()` events.
- if a `Request()` event is triggered, the process will try to fetch CODE and DATA and try

[2019-05-29 09:52] johannbarbie opened #117 "don't require contracts to be deployed for computation game"
**problem:** currently the contract assume that code is deployed onchain, to be able to read the the op-code for the execution. this assumption is invalid, as explained in [this diagram](https://docs.google.com/drawings/d/1vlRmrHJd-eozM9e34pgCEnm8Iuq9bhqVnopOva7Tfz4).

**task:** create a proof system giving an efficient way to provide the opcode at position of `pc`.

## Roles
bounty gardener: @pea

[2019-05-29 09:53] johannbarbie opened #118 "design hofmann structure"
# Bounty

Spending condition (spendie) is executed in leap-node in a specially prepared environment: we convert spendie's inputs into token "bags", which are then used to mint corresponding tokens into execution env. Once the spendie is executed, we parse execution logs and update token bags accordingly. Then we can construct spendie outputs from them.

We want to prepare the env for Enforcer the

[2019-05-29 12:53] johannbarbie opened #119 "run solEVM implementers call"
# Bounty

set up a call and invite any-one that might be interested to use or contribute to solEVM.

## Scope
- send personal invites
- find a time that suits every-one
- prepare agenda

## Deliverables
- run and moderate call
- record video
- publish notes and video

## Gain for the project
- visibility and contributors

## Roles
bounty gardener: @johannbarbie  / 20%
bounty worker: name / share

[2019-05-30 07:43] johannbarbie commented on #117
same as https://github.com/leapdao/solEVM-enforcer/issues/18 really, just needs to be done without excuses

[2019-06-01 15:11] peara commented on #117
So `Enforer` and `Verifier` are on mainnet while `SpendingConditions` are on plasma?
I remember issues of the approach at #18 was opcodes like `PUSH32` require 2 words and cannot be submitted easily?

[2019-06-01 16:16] peara commented on #117
Idea copied from verification game.
Something likes this :thinking:

![opcode_submit_proposal1](https://user-images.githubusercontent.com/24425403/58750985-fa566a80-84c2-11e9-8732-c5db5349df96.png)

When requesting:
- Opcode at 0 - PUSH1: submit `((PUSH1, '01'), [H2, H10, H14])`
- Opcode at 2 - PUSH2: submit `((PUSH2, '0102'), [H4, H9, H14])`
- Opcode at 4 - PUSH32: submit `((PUSH32, '01..32'), [H

[2019-06-01 16:57] peara commented on #117
Hmm, the above solution cannot account for the differences in length of opcodes and data.
Maybe we could insert `pc` to leaf nodes...

![opcode_submit_proposal1-2](https://user-images.githubusercontent.com/24425403/58751381-e8c39180-84c7-11e9-9db9-bfd80e0838a9.png)

We may also remove the redundant nodes and used Sorted Merkle Tree.

[2019-06-02 16:44] #107 closed

[2019-06-03 07:52] johannbarbie commented on #117
exactly. the `code` and `data` that is used for the game are provided in the mainnet transaction that initializes the game. at this point the code could be saved, but it would have 2 disadvantages:
 expensive + sets a limit to the code length.

i would like to dissect the problem here. there is the proof needed for the opCode at `pc`, and there is data for range opcodes, like `push32` and `jump` t

[2019-06-03 14:49] peara commented on #117
I think using the above Merkle tree is enough to solve both issues.
We also need a function that called before `submitProof` to supply those.
Depend on opcodes we may require 1 or 2 Merkle proofs.
But this is a lot of gases and time required.

We may record the values submitted and stub it in `EVMCode`.
If no values are supplied, the `submitProof` just got reverted.

[2019-06-04 08:56] johannbarbie opened #120 "define a Song Of Dawn delivery sprint"
## Bounty
create and estimate a sprint for delivery of [Song of Dawn Milestone](https://leapdao.org/blog/Smart-Contracts-on-Plasma/):

**Milestone Scope:**
SolEVM Enforcer allows to run computation off-chain and generate proofs for each step of execution. The result of the computation is registered on chain and can be challenged by others using the previously generated proofs. The result is a dece

[2019-06-05 07:52] johannbarbie opened #121 "prime casino frontend - events and CD"
## Bounty Description

![Prime Casino](https://user-images.githubusercontent.com/659301/58939229-108c5100-8777-11e9-80d9-fad18a4673e8.png)

## Scope

### Page Requirements

When page loads it first needs to scan all the events from the client contract, to understand which numbers have completed (no bet possible on these), and which numbers are ongoing (bet possible). Results should be kept in loca

[2019-06-05 08:36] johannbarbie opened #122 "update enforcer interface"
## Bounty Description

interface used by client described here: https://docs.google.com/drawings/d/1WXcAvTEpXDGeL68MfWOP20mERht8rzqfSzdiFtYZeSc

## Scope
[code]

## Deliverables
- separate inteface file as above
- fix of enforcer code to match interface
- fix of current tests to pass

## Gain for the project
- stable client interface

## Roles
bounty gardener: @johannbarbie  / 15%
bounty worker: @

[2019-06-05 09:51] johannbarbie opened #123 "prime casino contract"
## Bounty description

create a contract that holds the bets and
- forwards primality tests to solEVM.
- after the challenge duration passed, the contract can provide the result hash
- given the result and taskHash, the contract can verify the results and pay out the bets.

## Scope
- satisfy all requirements for [frontend](https://github.com/leapdao/solEVM-enforcer/issues/121).
- implement [iEnfo

[2019-06-08 09:45] peara commented on #117
@johannbarbie
Can I take this one?
Have you estimate it?

[2019-06-08 10:49] johannbarbie opened #125 "create a public deployment of the prime casino on goerli testnet"
# Bounty

at the end of the sprint all components need to be deployed so people can use it.

## Scope
- deploy contracts (solEVM, verifier, enforcer, primeCasino contract) on goerli
- deploy 2 instances of solver/challenger process
- deploy prime casino frontend

## Deliverables
- CD for frontend
- final versions of contracts deployed on goerli
- single EC2 instances for verifier and solver

## Ga

[2019-06-08 10:56] johannbarbie opened #126 "write a blog post about prime casino"
# Bounty

- create a short announcement about prime casino, include screenshots, explainer, maybe short screen recording.

## Deliverables
- blog post
- twitter post

## Gain for the project

## Roles
worker / gardener: @johannbarbie  / 80%
bounty reviewer: name / 20%

[2019-06-08 10:58] johannbarbie opened #127 "create a delivery report for EF, and make sure to get next milestone"
# Bounty

write a delivery report, include all the goodies, send to ef

## Scope
- explain what we created
- include link to code, post, and video
- request next milestone

## Deliverables
- written report
- send email
- get the $$$

## Roles
bounty gardener: @johannbarbie  / 10%
bounty worker: name / share
bounty reviewer: @MaxStalker  / 35%

[2019-06-08 17:20] johannbarbie commented on #117
@peara you are welcome to take it. you want to be gardener and worker? I scheduled a sizing meeting next wednesday, then we'll know the size

[2019-06-09 14:57] peara commented on #117
@johannbarbie Thanks.
I can be gardener. Will give a expected changes tomorrow.

[2019-06-10 11:08] agutsal commented on #78
@johannbarbie still actual, Johan?

[2019-06-10 12:39] peara commented on #117
![opcode_submit_proposal1(1)](https://user-images.githubusercontent.com/24425403/59195907-69187f80-8bb7-11e9-8329-bf2edb290343.png)

[2019-06-11 07:57] johannbarbie commented on #78
@agutsal yes, no-one is working on this one.

[2019-06-11 12:34] peara commented on #117
Changes:
- EVMCode: change to use MerkleProof of code. Support query for code (can be 1 byte or 32 bytes) at a specific pc. Return null if proof at such pc is not known.
- Enforcer: drop `codeContractAddress` when `register` new dispute
- Verifier: drop `codeContractAddress` as Enforcer. `submitProof` will require codes with proofs. At most 2 Merkle proofs are need. 1 for the opcode at current pc.

[2019-06-12 07:49] johannbarbie opened #128 "prime casino frontend - UI elements"
## Bounty Description

![Prime Casino](https://user-images.githubusercontent.com/659301/58939229-108c5100-8777-11e9-80d9-fad18a4673e8.png)

## Scope

### Page Requirements

depends on working page as described in https://github.com/leapdao/solEVM-enforcer/issues/121

### New Prime Button:
1. checks if code stored in IPFS, if not, stores code
2. checks if number < 2^256, otherwise throws error
3. c

[2019-06-12 07:57] johannbarbie opened #129 "add invalidChallengeRate param to solver/challenger service"
## Bounty description

extend https://github.com/leapdao/solEVM-enforcer/issues/116 so it can be started as follows:

- **run as solver:** `solEVM --enforcerADdr="0x1234" --walletPriv="0x3456" --ipfsProvider -ethProvider [--onlyChallenger] --invalidChallengeRate=0.x`

## Scope
- if a result can be computed and the `onlyChallenger` is not set, it will submit the solution and exec path root to the e

[2019-06-12 15:34] pinkiebell opened #133 "OOB: migrate to circleci"
Reason:
travisCI got slower in the recent days and this caused a bunch of timeout = `flaky' tests and not complete coverage reports.
Fix:
move to CircleCI
PR:
#131

[2019-06-12 15:34] pinkiebell commented on #133
#131

[2019-06-12 15:34] #133 closed

[2019-06-13 07:53] pinkiebell commented on #116
@johannbarbie This issue is in progress ;)

[2019-06-13 08:09] pinkiebell commented on #116
My bad, will do #122 first 😁

[2019-06-13 09:22] pinkiebell opened #134 "Discussion around parameters for stable Enforcer/Verifier interface"
As we want to approach a stable interface for the `Enforcer` contract in #122 ,
we have to take care of configurable parameters / arguments makes sense to be configurable by the user.

Thoughts for `request()`:
- `customEnvironmentHash` is missing, important for custom functionality like Plasma Verifier
- parameters for the EVM runtime are missing, which to we want to support?
[code]
- IPFS hash (

[2019-06-13 11:21] johannbarbie opened #135 "research the use of Swarm for primeCasino"
# Bounty
the design of the [SolEVM client app flow](https://docs.google.com/drawings/d/1WXcAvTEpXDGeL68MfWOP20mERht8rzqfSzdiFtYZeSc) requires a storage layer to to communicate CODE and DATA offchain between client and solvers/challengers. we found that IPFS uses protobuf and can not easily be proven on-chain.

## Scope
- read up on swarm
- whip up an on-chain proof algo

## Deliverables
- decision

[2019-06-13 11:24] johannbarbie commented on #135
for details see thread here: https://leapdao.slack.com/archives/CJCJRSEH4/p1560418154000400

[2019-06-13 11:37] prastut commented on #121
@johannbarbie interested in contributing :) can you let me know the next steps?

[2019-06-13 12:15] pinkiebell commented on #135
Result:
- wiki outdated
- lead me to https://github.com/ethersphere/swarm/blob/swarm-network-rewrite/swarm/storage/pyramid.go
- They call it `Pyramid Hash` / `Pyramid Chunker`

For us that means it will never ever go into our contracts due to complexity, gas costs and a general misfit for our architecture.

[2019-06-13 12:28] johannbarbie commented on #134
for the primeCasino we need none of those, i guess. just set gasLimit to 20M 🤷‍♂

[2019-06-13 12:32] pinkiebell commented on #134
@johannbarbie
what about we specify the interface now, so that we don't have to change it later 😁
We can talk about those points one-by-one and we can ask around in slack if anyone has an idea of what they would need if they did use solEVM

[2019-06-13 13:43] pinkiebell commented on #117
We also have to take opcodes like `CODESIZE`, `CODECOPY` into account.
That means we basically need dynamic-size proofs with a enforced limit to the tree size.
I also vote that each leaf is fixed-size `WORD = 32 bytes` and we should either put the array length as the first leaf or derive/save it somewhere else. In addition, the `leafHash` would be like `h(position, data)`, so that we can check tha

[2019-06-13 15:17] peara commented on #117
@pinkiebell Thanks, I have forgotten `CODECOPY`.
What do you mean by each leaf is fixed-size? And array length is the size of code, in 32-bytes words, isn't it?

I think we need dynamic-size leaves? As in https://github.com/leapdao/solEVM-enforcer/issues/117#issuecomment-500401522, it could simplify the checking in contract. Although producing this tree could be much more complicated on client sid

[2019-06-13 16:10] peara commented on #134
The one thing I would absolutely happy to have is a secure random number generator :rofl:
I think it will be available in Ethereum 2.0, should we support that?
`origin`, `time` and `blockNumber` are also a nice-to-have for many contracts.

[2019-06-13 16:12] pinkiebell commented on #117
Yes, fixed size of 32 bytes for leaf, but the length should be given in bytes not number of words.
But this might be not so important now, because we seem to settle on storing the information of the actual size of the bytecode elsewhere. See https://github.com/leapdao/leap-node/issues/242

If we use dynamic-size leaves we would save 62 bytes in the best case, that would be ~4216 in gas savings at

[2019-06-13 16:19] peara commented on #117
Well the saving is more than that. Because we can do a simple compare in most case to determine the opcode and data. If we use fixed-size leaves, we need to calculate the exact position of the required opcodes or data. Not to mention the case we need to supply 3 Merkle proofs if data is spanned across 2 adjacent words.
It isn't only saving gases, it also reduce potential bugs.
Assumed that we impl

[2019-06-13 16:19] pinkiebell commented on #134
💯

Hmm, the eth 2.0 specs are still in flux, but we need the `customEnvironmentHash` for custom implementations anyway. This could be used for various non-standard thinks in the meantime & future.
Or is this part already finalized? 🙏 😁

[2019-06-13 16:23] peara commented on #117
Just recognized that `CODECOPY` doesn't have a limit to the length of copied code :worried:
How should we process this one?
Maybe a lot of Merkle proofs...

[2019-06-13 16:24] pinkiebell commented on #117
@peara That limit needs to specified and enforced *TODO* 😀

[2019-06-13 16:33] pinkiebell commented on #117
![Unknown](https://user-images.githubusercontent.com/40266861/59450528-ad9b5980-8e09-11e9-98d5-585928e0d811.jpeg)

[2019-06-14 14:32] peara commented on #117
@pinkiebell @johannbarbie
I think we can solve this by adding a step before `submitProof`.
Let's call it `submitData`, only callable by **solver**.
This step will supply `memory`, `calldata`, `return` and `code`.
All of them should have this format:
[code]
After solver call `submitData`, dispute will enter `DataSubmitted` state with a timeout similar to a `respond`.
At this time, anyone can submit

[2019-06-14 16:02] pinkiebell commented on #117
How much storage that would be? Do I understand correctly that we have to save all data required for that step?

[2019-06-14 16:47] peara commented on #117
Yes, I think so. For memory it is normally 2 bytes32, for code it is 2-3 bytes32. For callData and returnData, there are no limit :thinking:
Maybe we can should increase bondAmount to take these into account, with some mechanism to refund exceeding amount.

[2019-06-14 18:08] pinkiebell commented on #117
I fear that this could drastically raise gas cost 😨
@johannbarbie What's your opinion on this?

[2019-06-14 18:50] peara commented on #117
Store 1 word cost is equal ~15 Merkle proofs verification cost :confused:
I guess I will go with Merkle proofs for now.

[2019-06-16 07:48] peara commented on #117
After some more thinking, I think the cost can be reduce to 1 storage. It should be similar to how Ethereum storage works and could be used as `EVMStateRoot`.

For example, we could create a Sparse Merkle Tree from spendcond's codes.
Each part (1 word) of codes would correspond to a leaf:
[code]
When submitting proofs, **solver** will submit data of the form `[{pos, val},...]`. Then the hash root

[2019-06-17 08:05] johannbarbie commented on #117
one tree to rule them all 🤔
we have code for sparse merkle tree with 160 bits key length here already: https://github.com/leapdao/leap-contracts/blob/master/test/sparseMerkleTree.js

extending this to 256 key length wouldn't be hard.

2 things i don't understand yet:
- every proof would need to run 256 hashes, how fast would we reach block gas limit?
- what exactly is the advantage of the sparse t

[2019-06-17 08:53] johannbarbie commented on #117
how is the storage related to this proof process, btw? 🤔

[2019-06-17 09:00] johannbarbie commented on #134
very important, but need to make sure that it is compatible with solEVM. i suggest to use the value of the root chain at the time when last period submitted. that way even when we do solEVM challenges weeks/month later, the value can be looked up in PlasmaBridge like this: `inclusion proof of tx -> periodRoot -> previous Root -> number + time`. note that the values will be the same for 32 consecut

[2019-06-17 10:36] pinkiebell commented on #117
One tree for everything sounds nice at first but how much will updates/inserts to this tree construction cost? I think this would be substantially more?

[2019-06-17 10:38] pinkiebell commented on #134
Yes.

[2019-06-17 10:46] peara commented on #117
@johannbarbie
It should be less than 256 hashes, depends on ExecutionState
Each hash costs around 40 gases (load 2 words to stack then keccak256), so I think this won't be an issue.
The advantage of sparse tree is convenient. We don't have a intrinsic order of all leaves to use in normal tree.
I mentioned storage because before, I was suggesting store code data on storage.

@pinkiebell
I don't exp

[2019-06-17 10:50] pinkiebell commented on #117
In `submitProof` we have to check if all the data matches to the previousStep and after running one step in `submitProof` needs to update the leaves and check if the root hash matches `computationPath.right`.

Or does this design change anything of this procedure?

[2019-06-17 10:54] peara commented on #117
I see. So this would be 2 tree construction at most.

[2019-06-17 11:56] pinkiebell commented on #122
Kind of blocked by https://github.com/leapdao/solEVM-enforcer/issues/134
Gonna need a redesign first. `struct EVMParameters` ? :)

[2019-06-17 12:10] pinkiebell commented on #134
Draft, what do you think?
[code]

[2019-06-17 14:10] johannbarbie commented on #134
updated the [process flow](https://docs.google.com/drawings/d/1WXcAvTEpXDGeL68MfWOP20mERht8rzqfSzdiFtYZeSc) with `ENV_HASH`, which is a hash of the above struct. ENV_HASH replaces EXEC_ID as identifier for the game.

[2019-06-18 10:00] pinkiebell commented on #122
TODO:
enforcer needs a sense of
- `ExecutionRequest`
- `ExecutionResult`
- `ExecutionChallenge`

Also the enforcer should implement a `execution request timeout` so that we have a valid timeframe for a user-supplied time in `request`

[2019-06-18 11:15] johannbarbie commented on #123
miller rabin test: https://gist.github.com/johannbarbie/3b9fc69fa39ab67adae619602215dd22

[2019-06-26 09:38] pinkiebell opened #140 "Implement resultProofs for Enforcer"
# Bounty
New interface for Enforcer in #138 needs a proof for `bytes result` to be validated in the contract.

## Scope
- Implement resultProofs
- Verify those in Enforcer
- Fix tests of course

## Roles
bounty gardener: @pinkiebell  / 10%
bounty worker: @pinkiebell / 70%
bounty reviewer: name / 20%

[2019-06-26 15:27] pinkiebell opened #141 "Use 'real' time instead of measuring in number of block"
# Bounty
Use 'real' time instead of measuring in number of block #141
## Scope
- contracts
- tests

## Deliverables
Easier for time-based decision logic like Plasma Exits

## Roles
bounty worker/gardener: @pinkiebell  / 85%
bounty reviewer: name / 15%

[2019-06-26 15:28] pinkiebell commented on #141
Linking #138

[2019-06-26 15:54] pinkiebell commented on #117
The idea was just that we could do

A sparse linked list for opcode at byte pos `X`, would work exactly the same as in EVMMemory.
You can of course skip the assembly and use 'normal' solidity code.
Example:
`EVMCode > { bytePos: 4, value: 0xfa, next: <memory ptr to B> } B: { bytePos: 7, value: 0xaa, next: 0}`

[2019-06-26 16:23] peara commented on #117
What I'm doing is https://github.com/leapdao/solEVM-enforcer/pull/137/files#diff-1aa016b76b63dd417b9159a6d65d3a32
What is the purpose of using a linked list?

[2019-06-26 16:36] peara commented on #117
Is it to replace dynamic array? I'm not so sure about memory in EVM. They won't be messed up? If so  I will change to this

[2019-06-26 17:52] pinkiebell commented on #117
Yes

As long as you make sure you update free memory pointer (if you manually allocate), if you don't use manual memory management, you should be fine.

[2019-06-27 16:46] #123 closed

[2019-06-29 12:43] #122 closed

[2019-07-01 08:45] johannbarbie commented on #120
done here: https://github.com/leapdao/solEVM-enforcer/milestone/6

[2019-07-01 08:45] #120 closed

[2019-07-01 11:19] #135 closed

[2019-07-01 13:51] pinkiebell commented on #96
Resizing down to XS. As some parts for this was already in place.

[2019-07-03 17:55] #121 closed

[2019-07-03 17:55] #128 closed

[2019-07-05 10:09] #96 closed

[2019-07-08 09:50] pinkiebell opened #146 "Use ExecutionPoker for dispute fixtures"
# Bounty
Use `ExecutionPoker` for running the dispute fixtures.
At the moment we have methods implemented in the unit test to run the v-game,
but if we implement something new or change the interface, we have to update
two implementations.

To get rid of it, use the ExecutionPoker also in the unit tests so that we have one true implementation doing the c-dance.

## Scope
- dispute fixtures / unit

[2019-07-09 17:32] troggy commented on #27
@thomashin 👋you guys still have Ξ0.5 locked in this bounty on Gitcoin: https://gitcoin.co/issue/leapdao/solEVM-enforcer/27/1866.

Cancel it to get them back :)

[2019-07-09 18:28] #146 closed

[2019-07-12 17:07] #141 closed

[2019-07-12 17:17] #134 closed

[2019-07-15 03:43] #117 closed

[2019-07-15 10:19] pinkiebell commented on #129
Atm, the ExecutionPoker submits invalid results, a behaviour leftover from unit tests.
I'm gonna remove this and we need to probably resize this bounty to XS. Thoughts?

[2019-07-15 10:49] pinkiebell commented on #78
@johannbarbie Obsolete?

[2019-07-15 10:51] pinkiebell commented on #23
PlasmaVerifier is the skeleton. Closing this, we can issue a new bounty for more specific functionality

[2019-07-15 10:51] #23 closed

[2019-07-15 11:22] johannbarbie commented on #129
this is not only about the invalid results thought, it is also about all the transactions in verifier: `for all initialized games in the verifier contract that include it's own PATH_ROOTs the process will respond on time`

[2019-07-15 11:27] johannbarbie commented on #78
i think it has value to reduce the size of transactions, as now they carries all the code. the advantage over deploying every contract separately is following:
**a)** the template functionality. so for many different contract, same template can be used
**b)** feeding the template registry with multiple transactions would allow to have contracts larger than `0x6000`

[2019-07-15 12:57] pinkiebell commented on #129
You mean if I restart this service it should check for all open challenges?
Granted. Still needs sizing triage 🙂

[2019-07-15 13:32] pinkiebell opened #155 "Include `step` into stateHash"
# Bounty

Include `uint256` step into the stateHash.
This is required to check the position of this execution inside the tree
and more importantly is required for unique leaf hashes.
It's currently possible to have duplicate leave hashes with a correct execution path.
This needs to be fixed.

## Roles
bounty gardener: @pinkiebell  / 10%
bounty worker: name / 70%
bounty reviewer: name / 20%

[2019-07-15 14:25] peara commented on #155
Hmm, we already have `pc` in `StateHash`.
So if there exists 2 identical leaves, isn't it mean the execution will loop forever?

[2019-07-15 14:35] pinkiebell commented on #155
Assume we use the opcode `STOP` we will have zero gas fees for that and because the machine halts after return and the `pc` doesn't get incremented by spec.

I had this one scavenged from my list. Now that you got me thinking, it might be actually not needed. 🤣
Though having the position in the leaf still helps if we want to verify a proof for a specific leaf at step `N`. 🙂

[2019-07-16 15:21] #92 closed

[2019-07-17 11:52] pinkiebell commented on #155
Closing this as we can enforce the same by walking from root to leaves in a specific way.

[2019-07-17 11:52] #155 closed

[2019-07-22 14:22] #140 closed

[2019-08-06 12:53] johannbarbie opened #163 "register tx fails with "gas required exceeds allowance or always failing transaction""
Sometimes register tx fails with gas required exceeds allowance or always failing transaction. Not often though. Interesting that it fails even for wrong result (which is the same for each task, maybe it depends on task somehow?)

example number ** 920419823**:

## Node #1:
`node index.js --enforcerAddr=0x6949a2a84C9f32C0C905C84686f129a6abC74Ea1 --walletPriv=0xea.. --ethProvider=https://goerli.inf

[2019-08-06 12:57] johannbarbie commented on #163
Steps to reproduce:
1. pull challenger branch in solevm-enforcer repo
2. yarn && cd challenger && yarn
3. Run first instance (correct result, delay added for demo purpose): node index.js --enforcerAddr=0x6949a2a84C9f32C0C905C84686f129a6abC74Ea1 --walletPriv=0xea..cd --ethProvider=https://goerli.infura.io/v3/f039330d8fb747e48a7ce98f51400d65 --delay=10000
4. Run second instance (wrong result): node

[2019-08-08 18:09] #116 closed

[2019-08-09 07:44] johannbarbie commented on #125
done here: https://leapdao.slack.com/archives/CJCJRSEH4/p1565154982000800 and here: https://primality.leapdao.org

[2019-08-09 07:44] #125 closed

[2019-09-24 14:04] johannbarbie commented on #119
utopian fantasy

[2019-09-24 14:04] #119 closed

[2019-10-04 12:17] johannbarbie commented on #99
done
product 1: https://www.youtube.com/watch?v=2eM_27DLfts
product 2: https://youtu.be/D8-zpsZnnDo

[2019-10-04 12:17] #99 closed

[2019-10-06 08:31] #126 closed

[2019-10-08 15:34] johannbarbie commented on #127
done here: https://hackmd.io/uZvXy0YKSyeJP_PPvuUtJw

[2019-10-08 15:34] #127 closed

[2019-10-18 13:52] DistributedDoge opened #165 "Present EVM Enforcer at "Blockchain For Science" Conference"
# Bounty

Second edition of[ Blockchain For Science](https://www.blockchainforscience.com/) is happening in Berlin soon. I think presenting EVM Enforcer there could be a gain for the project. If someone is in Berlin the only additional expense to cover is (150EUR) conference ticket and compensation for the work and time involved.

## Scope
- Submit abstract (till 25th Oct)
- Once abstract is accep

[2019-11-23 10:11] johannbarbie commented on #129
bounty timed out

[2019-11-23 10:11] #129 closed

[2019-11-23 10:33] johannbarbie commented on #78
bounty timed out

[2019-11-23 10:33] #78 closed

[2019-11-23 10:35] johannbarbie commented on #77
bounty timed out

[2019-11-23 10:35] #77 closed

[2019-11-24 14:15] johannbarbie commented on #165
paid out here: https://leapdao.slack.com/archives/CAAGW85BR/p1573120487169300

[2019-11-24 14:15] #165 closed

[2019-11-30 08:38] troggy opened #167 "Merge back ExecutionPoker from challenger service"
ExecutionPoker for challenger services diverged from the one from utils. Let's try merge the changes made in challenger services back to utils.

https://github.com/leapdao/solEVM-enforcer/blob/master/challenger/ExecutionPoker.js
https://github.com/leapdao/solEVM-enforcer/blob/master/utils/ExecutionPoker.js

[2019-12-03 15:57] troggy opened #168 "Create a spec for all the on-chain limits"
# Bounty

SolEVM executes just a single instruction for the enforced contract on-chain and we want that execution to fit root network's gas limit at all times. Some of the instructions (like `keccak256`) take input of arbitrary size and certainly should be limited.

Then (out of scope) we want to enforce these limits on SolEVM and enforce the same limits on leap-node side.

## Scope
- figure out a

[2020-01-07 16:14] johannbarbie opened #170 "compare EVMRuntime.js with HEVM"
hevm: http://dapp.tools/hevm/

idea: make sure that executions equal.

[2020-01-13 13:23] TheReturnOfJan opened #171 "What's up with gas metering in tests?"
What is the purpose of this: https://github.com/leapdao/solEVM-enforcer/blob/master/test/fixtures/runtimeGasUsed.js

Should it stay or should it go?

[2020-01-13 16:34] #118 closed

[2020-01-14 12:43] TheReturnOfJan commented on #170
https://github.com/leapdao/solEVM-enforcer/issues/95

This could be the alternative.

[2020-01-14 12:46] TheReturnOfJan commented on #170
https://github.com/ethereum/tests/tree/develop/VMTests

[2020-01-14 13:16] TheReturnOfJan opened #173 "Add more test fixtures testing hofffman structure."
# Bounty

## Scope
-
-
-

## Deliverables

## Gain for the project

## Roles
bounty gardener: name / share
bounty worker: name / share
bounty reviewer: name / share

[2020-01-14 13:18] TheReturnOfJan opened #174 "Verify our interpretation of call/staticcall"
# Bounty

Verify that our interpretation of how methods like transfer and balanceOf behave on the EVM level is correct.

## Scope
-
-
-

## Deliverables

## Gain for the project

## Roles
bounty gardener: name / share
bounty worker: name / share
bounty reviewer: name / share

[2020-01-14 13:20] TheReturnOfJan opened #175 "Add all tokenBag methos we wish to support"
# Bounty

Add all tokenBag methos we wish to support. Currently missing:
- ownerOf
- transferFrom
- writeData

## Scope
- Implement the above methods
- Test fixtures

## Deliverables
Commit with the above implemented.

## Gain for the project

## Roles
bounty gardener: @TheReturnOfJan  / 5%
bounty worker: @TheReturnOfJan  / 80%
bounty reviewer: name / share

[2020-01-14 13:20] TheReturnOfJan opened #176 "Add tokenBag to the state commitment"
# Bounty

TokenBag should be included in state commitments.

## Scope
-
-
-

## Deliverables

## Gain for the project

## Roles
bounty gardener: name / share
bounty worker: name / share
bounty reviewer: name / share

[2020-01-14 13:21] TheReturnOfJan opened #177 "Address overflows/underflows"
# Bounty

https://github.com/leapdao/solEVM-enforcer/blob/b060a2f4f3927abdf82f4db2b01f1989cd23f269/contracts/EVMTokenBag.slb#L92

## Scope
-
-
-

## Deliverables

## Gain for the project

## Roles
bounty gardener: name / share
bounty worker: name / share
bounty reviewer: name / share

[2020-01-24 20:01] TheReturnOfJan opened #179 "Verifier contract is growing too big. Find a solution."
# Bounty

## Scope
-
-
-

## Deliverables

## Gain for the project

## Roles
bounty gardener: name / share
bounty worker: name / share
bounty reviewer: name / share

[2020-02-12 05:16] #175 closed

[2020-02-19 13:02] TheReturnOfJan commented on #179
It turns out that Verifier and the Runtime are quite tightly coupled in the current implementation, making any sort of separation highly non-trivial. The amount of work needed to do a clean separation in this repository is roughly equal to starting the implementation of the verification game from scratch, which is what I have [done](https://github.com/leapdao/EthereumMachineOracle).

This is a gre

[2020-04-06 19:28] troggy commented on #168
expired. Needs to be resubmitted by gardener

[2020-08-19 10:00] #168 closed